<h1>Menu</h1>


<ul class = "nav nav-pills">

   <% @section.each do |section| %>
   <li class = "nav-item">

      <%= link_to section, menu_path(section: section), class: "nav-link #{params[:section] == section ? 'active' : ''}" %>
      <% end %>
</li>
</ul>

<% @food_items.each do |item| %>
<div class = "card">
  <div class = "card-block">
   <%= item.name %>
 </div>

 <div class = "card-block">

    <%= image_tag item.image_url %>
  </div>

</div>
<% end %>
