<div class = "col-sm-4">
  <h2> Address </h2>
  <address class = "address">
    123 melbourne
  </address>
</div>


<div class = "col-sm-8">
  <h2> Map </h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.5258881389527!2d144.91338921499627!3d-37.58978047979357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad653d569791587%3A0x4b34be9667318ee7!2s7%2F1-27+Punt+St%2C+Craigieburn+VIC+3064!5e0!3m2!1sen!2sau!4v1482833276979" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </address>
</div>


<div class="container">
  <form id="contact" action="" method="post">
    <h2>Rohit's Food Truck Contact Form</h2>
    <h4>Contact us for custom quote</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>

  </form>
</div>
