 @import "bootstrap-sprockets";
 @import "bootstrap";



body{
  background-image: url('food2.jpg');

  background-size: cover;
}


h1{
  font-family: fantasy;
  color: brown;
  text-align: center;
}

.log-in{
  width: 700px;
  margin:auto;
  text-align:center;
  padding-top:10%;

  font-family: 'Roboto', Arial, sans-serif;
}

.panel-heading{
  background-color:#fff;
}

.form-control{
  width: 500px;
  text-align: center;
  margin:auto;
}

.panel-body p{
  color:#555;
}



/* navbar */
.navbar-default {
    background-color: green;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: green;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 25px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
