 @import "bootstrap-sprockets";
 @import "bootstrap";



body{
  background-image: url('food2.jpg');

  background-size: cover;
}


h1{
  font-family: fantasy;
  color: brown;
  text-align: center;
}

.log-in{
  width: 700px;
  margin:auto;
  text-align:center;
  padding-top:10%;
  
  font-family: 'Roboto', Arial, sans-serif;
}

.panel-heading{
  background-color:#fff;
}

.form-control{
  width: 500px;
  text-align: center;
  margin:auto;
}

.panel-body p{
  color:#555;
}
